{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block title %}{% trans "Password Reset" %}{% endblock %}
{% load crispy_forms_tags %}
{% block page %}
<form class="modal-content" action="." method="post">
    <div class="container">
        <h1>{% trans 'Forgot your password? %}</h1>
        <p>{% trans 'Enter your e-mail address to obtain a new password.' %}</p>
        <hr>
        {{ form|crispy }}
        {% csrf_token %}
        <br>
        <button type="submit">{% trans 'Send e-mail' %}</button>
    </div>
</form>
{% endblock page %}