{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block title %}{% trans 'Change Password' %}{% endblock %}
{% load crispy_forms_tags %}
{% block page %}
<form class="modal-content" action="." method="post">
    <div class="container">
        <h1>{% trans "Change Password" %}</h1>
        <hr>
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit">{% trans "Change password" %}</button>
    </div>
</form>
{% endblock page %}