{% extends "index.html" %}
{% load i18n %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block title %}{% trans 'Change Password' %}{% endblock %}
{% load crispy_forms_tags %}
{% block page %}
<form class="modal-content"  method="POST" action="{{ action_url }}">
   <div class="container">
    <h1>{% trans 'Change Password' %}</h1>
        {% if form %}
            <hr>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">{% trans 'Change password' %}</button>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
   </div>
</form>
{% endblock page %}