{% extends "index.html" %}
{% load i18n %}
{% block portfolio %}
<div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">{% trans 'My Portfolio' %}</h2>
    <hr class="w3-opacity">
    <div class="w3-row-padding" style="margin:0 -16px">
    {% for project in projects %}
       <div class="w3-half">
           <div class="w3-card w3-center">
           <a href="{% url 'project_detail' project.pk project.slug %}">
               <img src="{{ project.thumb.url }}" alt="{{ project.title }}">
           </a>

           <div class="w3-container">
               <h4 class="w3-text-grey"><b>{{ project.title }}</b></h4>
           </div>

           </div>
<!--           <div class="w3-center">-->
<!--               <p>-->
<!--                   <button class="w3-button w3-light-grey w3-padding-large" type="submit">-->
<!--                       <a href="{% url 'project_detail' project.pk project.slug %}" style="text-decoration:none;">{% trans 'READ MORE' %}</a>-->
<!--                   </button>-->
<!--               </p>-->
<!--           </div>-->
        </div>
    {% endfor %}
    </div>

    <div class="w3-center w3-padding-32" style="font-weight:bold;">
        <span>
            {% if projects.has_previous %}
               <a href="?page={{projects.previous_page_number}}" class="w3-bar-item w3-button w3-hover-black">{% trans 'Previous' %}</a>
            {% endif %}
            <span>
               {% trans 'Page' %} {{ projects.number }} {% trans 'of' %} {{ projects.paginator.num_pages }}.
            </span>
            {% if projects.has_next %}
               <a href="?page={{ projects.next_page_number }}" class="w3-bar-item w3-button w3-hover-black">{% trans 'Next' %}</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}